body{
    background-color: whitesmoke;
}

.site-main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3vw;
}

.single_picture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.single_picture img{
    width: 100%;
    height: 100%;
}